<template>
  <q-page  class="">

    <q-header class=" text-white" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <q-toolbar> 
        <q-toolbar-title class="text-bold" style=" font-size: 16px;"> 
          <img src="~assets/logo-w.png" style="width: 55px; max-width: 50%;">
        </q-toolbar-title>


        <div class=" q-pa-sm search-form">
          <!-- <q-btn icon="person_add"  size="sm" label="Add Staff" @click="addDialog = true" flat v-if="auth.role == 'Admin'"/> -->
          {{auth.role}} : {{auth.name}}
          <q-btn icon="exit_to_app"   @click="logout" flat />
          <!-- <q-input placeholder="Search..." filled dense class="q-my-sm q-pa-none" bg-color="white" /> -->
        </div>
      </q-toolbar>
      <div class="q-pa-none" style="background-color: #ddd3b0;">
        <q-btn flat type="href" to="/orders" class="q-mx-xs text-black" label="Orders" dense />
        <q-btn flat type="href" to="/menu-manage" class="q-mx-xs text-black" label="Menu" dense v-if="auth.role == 'Admin'" />
        <q-btn flat type="href" to="/assistant" class="q-mx-xs text-black" label="Staff" dense v-if="auth.role == 'Admin'" />
      </div>
    </q-header>
    <div class="q-px-sm q-py-md"> 

        <q-card class="my-card q-pa-none">
          <q-card-section class=" q-pa-none"> 

            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="brown-10"
              indicator-color="brown-10" 
              narrow-indicator
              align="left"
              inline-label
            >
              <q-tab name="staff_list" label="Staff" /> 
              <q-tab name="addstaff" icon="person_add" label="Add Staff" />  
            </q-tabs>
            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel class="q-pa-none" name="staff_list">

                  <q-table  
                    :rows="rows"
                    :columns="columns"
                    row-key="name"
                    :pagination="initialPagination"
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props" class="bg-grey-2">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          {{ col.label }}
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <!-- <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" /> -->
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >  
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-else-if="col.name === 'action'">
                          <q-btn  :color="(props.row.active == 'true') ? 'blue' : 'grey'" icon="person" size="sm" dense @click="updateDialogAction(props.row)" class="q-px-sm  q-mr-sm text-white" />
                          <q-btn   icon="highlight_off" color="red-4" size="sm" dense @click="deleteRow(props.row)" class="q-px-sm  q-mr-sm text-white" />
                          
                          <!-- <q-btn label="Void" color="red-4" dense @click="voidOrder(props.row)" class="q-px-sm text-black " /> -->
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <!-- <q-tr v-show="props.expand" :props="props.row.customer_orders">
                        <q-td colspan="100%">
                          <div class="row">
                            <div class="col-4">
                              <q-list bordered  dense>
                                <q-item v-for="(item, key) in props.row.customer_orders" :key="key">
                                  <q-item-section class="text-subtitle2">{{item.item}} x {{item.qty}}</q-item-section>
                                </q-item> 
                              </q-list>
                            </div>
                            <div class="col-4 q-pl-md">
                              <p class="q-my-sm">Comments: <span class="text-bold">{{props.row.comments}}</span></p> 
                            </div>
                          </div> 
                        </q-td>
                      </q-tr> -->
                    </template>
                  </q-table>
              </q-tab-panel> 
              <q-tab-panel class="q-pa-none" name="addstaff">
                <q-card style="min-width: 400px;">
                  <q-card-section>
                    <div class="text-subtitle2 text-uppercase text-bold">Details</div>
                  </q-card-section>

                  <q-banner dense inline-actions class="text-white bg-green q-mb-sm" v-if="insertedAssistant">

                    <template v-slot:avatar>
                      <q-icon name="check" color="white" />
                    </template> 
                    Added Assistant
                  </q-banner>

                  <q-form
                    @submit="onSubmit"  
                    class=" q-mt-sm"
                  >
                    <q-card-section class="q-pt-none">
                        <q-input
                          outlined
                          dense
                          v-model="assistant.name"
                          label="Name" 
                          lazy-rules
                          class="q-my-sm" 
                          @keyup="passwordDefault"
                        />
                        <q-input
                          outlined
                          dense
                          type="password"
                          v-model="assistant.password"
                          label="Password" 
                          lazy-rules
                          class="q-my-sm" 
                        />
                        <q-select outlined dense v-model="assistant.role" :options="assistantOptions" label="Role" class="q-my-sm" />
                        <q-toggle
                          v-model="assistant.active"
                          color="blue-11"
                          label="Active"
                          left-label
                        />
                    </q-card-section>

                    <q-card-actions align="right"> 
                      <q-btn  type="submit" label="Submit" color="primary" />
                    </q-card-actions>
                  </q-form>
                </q-card>
              </q-tab-panel>   
            </q-tab-panels>
          </q-card-section>
        </q-card>
    </div>

  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

import axios from 'axios'
var dateFormat = require("dateformat");


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
        auth: {
          name: null,
          role: null,
        },
        active: '',
        assistantSelected: null,
        order: {
          comments : ''
        },
        insertedAssistant: false,
        addDialog: false,
        updateOrderDialog: false,
        assistantOptions: [ 'Admin', 'Waiter', 'Chef', 'Cashier'],
        assistant: {
          name: null,
          role: null,
          password: null,
          active: false
        },
        initialPagination: {
          sortBy: 'desc',
          descending: false,
          page: 1,
          rowsPerPage: 20
          // rowsNumber: xx if getting data from a server
        },
        tab: 'staff_list',
        columns: [ 
          { name: 'no',align: 'left', label: ' No.',  sortable: true },
          { name: 'name',align: 'left', label: 'Name', field: 'name', sortable: true },
          { name: 'password',align: 'left', label: 'Password', field: 'password', sortable: true },
          { name: 'role', align: 'left', label: 'Role', field: 'role', sortable: true },  
          { name: 'active', align: 'left', label: 'Active', field: 'active', sortable: true }, 
          { name: 'action', align: 'left', label: 'Action', field: 'action', sortable: true }, 
        ], 
 
        rows: []
    }
  },
  methods: { 
    logout() {
      this.$router.push('login');
    },

    onReset() { 
      this.addDialog = false
      this.assistant.name = null
      this.assistant.password = null
      this.assistant.role = null
    },
    onSubmit() { 
      this.insertedAssistant = false
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `
              mutation MyMutation {
                insert_assistants(objects: {name: "${this.assistant.name}", password: "${this.assistant.password}", role: "${this.assistant.role}", active: "${this.assistant.active}"}) {
                  affected_rows
                }
              } 
              `
          },
          headers: headers
        }).then((result) => { 
          // console.log(result.data.data.insert_assistants.affected_rows)

          if (result.data.data.insert_assistants.affected_rows) {
            this.insertedAssistant = true

            this.assistant.name = null
            this.assistant.password = null
            this.assistant.role = null
            this.assistant.active = false
          }
        });

    },

    passwordDefault() {
      // console.log(`CL${this.assistant.name}`)
      this.assistant.password = `CL${this.assistant.name}`;
    },

    deleteRow(props) { 
 
      // this.currentMenu = props; 

      console.log(props)
      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `   
            mutation MyMutation {
              delete_assistants(where: {id: {_eq: ${props.id}}}) {
                affected_rows
              }
            } 
            `
        },
        headers: headers
      }).then((result) => { 
        // console.log(result.data.data)
        // console.log(result.data.data.delete_menu.affected_rows)
        if (result.data.data.delete_assistants.affected_rows) {
          this.dataInit();
        }
        
      });

      // console.log(this.currentMenu)
    },

    updateDialogAction(row) {
      // this.updateOrderDialog = true
      this.assistantSelected = row
      this.active = row.active == 'true' ? false : true;

      // console.log(this.assistantSelected)
      // console.log(this.active)
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `  
              mutation MyMutation {
                update_assistants(where: {id: {_eq: ${this.assistantSelected.id}}}, _set: {active: "${this.active}"}) {
                  affected_rows
                }
              }

              `
          },
          headers: headers
        }).then((result) => {  

          // console.log(result)

          // this.dataInit()
          if (result.data.data.update_assistants.affected_rows) {
            this.order.comments = ''

            // this.updateOrderDialog = false
            this.assistantSelected = null
            this.dataInit()
          }
        });
    },

    updateOrderApi() {
 
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: ` 
              mutation MyMutation {
                update_customers(where: {id: {_eq: ${this.customer.id}}}, _set: {assistant: "${this.auth.name}", status: "${this.active}", comments: "${this.order.comments}"}) {
                  affected_rows
                }
              }

              `
          },
          headers: headers
        }).then((result) => {  

          if (result.data.data.update_customers.affected_rows) {
            this.order.comments = ''

            this.updateOrderDialog = false
            this.customer = null
            this.dataInit()
          }
        });

    },

    voidOrder(row) {
      // console.log(row)


      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: ` 
            mutation MyMutation {
              delete_customers(where: {id: {_eq: ${row.id}}}) {
                affected_rows
              }
            }


            `
        },
        headers: headers
      }).then((result) => { 
        // console.log(result.data.data)

        if (result.data.data.delete_customers.affected_rows) {
          this.order.comments = ''

          this.updateOrderDialog = false
          this.customer = null
          this.dataInit()
        }
      });



    },

    dataInit() {

        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `

              query MyQuery {
                assistants(order_by: {name: asc}) {
                  active
                  id
                  name
                  role
                  password
                }
              }

              `
          },
          headers: headers
        }).then((result) => { 
          // console.log(result.data.data)

          this.rows = result.data.data.assistants
 
 
        });
    }
  },

  mounted() {
    this.auth = JSON.parse(localStorage.getItem("auth"));

    this.dataInit();
  }
})
</script> 

<style type="text/css">
  .login-wrapper {
    max-width: 90%;
    width: 400px;
    margin: 0 auto;
  }
</style>