<template>
  <q-page  class="text-center inner-layout">

    <div style="background-color: #17120cd1;">
      <img src="~assets/logo-w.png" class="q-mt-xs" style="width: 50px; max-width: 50%;">
    </div>
    <div class="header-wrapper  row" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <div class="col-9 text-left">

        <q-btn flat icon="menu_open"  type="a" href="/menu" class="text-white q-pr-none "  />
        <span class="q-mb-none text-white text-bold q-pa-sm q-pl-xs text-poppins text-uppercase" v-if="customer.name">{{customer.name}} - {{customer.table}}</span>

      </div>
      <div class="col-3 text-right"> 
      	<q-btn flat icon="restaurant" class="text-white"   :label="customer.orders.length"/>
      </div>
      
    </div> 

   	<div class="q-pa-sm cart-wrapper bg-yellow-1" style="min-height: 90vh;">

	    <q-card class="card-dark1">
	      <p class="q-mb-none text-poppins q-pt-md text-bold  text-black text-f6 text-subtitle2">MY TABLE</p>
	      <q-card-section style="max-height: 67vh; overflow-y: auto; border-bottom: 1px solid #ccc;" class="q-pt-sm">
		    <q-list separator v-if="cart.length" >

		      <q-item    v-for="item in cart" :key="item.label" >

	  	        <q-item-section top thumbnail class="q-ml-none">
		          <!-- <img src="~/assets/bg.jpeg"> -->
		          <img :src="item.img_url">
		        </q-item-section>

		        <q-item-section class="text-left">
		          <q-item-label class="text-poppins text-f6 ">{{item.label}} </q-item-label>
	                <q-item-label caption>
	                  <div class="row">
	                    <div class="col-12 text-poppins text-xs ">
	                      x {{item.count}}
	                    </div>
	                  </div>
	                </q-item-label>
		        </q-item-section> 
	              <q-item-section right middle>
	                <q-btn icon="highlight_off" class="q-pa-none" dense color="red-9" flat @click="removeItem(item)" />
	              </q-item-section> 
		      </q-item> 

		    </q-list>
		    <p v-else class="q-mb-none">
		    	<!-- <q-btn label="Back to Menu" type="a" href="/#/menu"  /> -->
		    	<q-btn  label="Back to Menu" type="a" href="/menu"    color="amber" size="md" class="text-black text-poppins q-mt-md q-mx-sm q-mb-none" />
		    </p>
	      </q-card-section>
 
	      <q-card-action class="q-pa-sm">
 
		    <!-- <q-btn label="Reset" v-if="cart.length"  @click="resetAction" color="grey" class="text-black q-mt-sm q-mx-sm q-mb-md" /> -->
		    <q-btn label="Place order" v-if="cart.length" @click="placeOrderAction"  :disabled="sending" color="amber" size="md" class="text-black text-poppins q-mt-sm q-mx-sm q-mb-md" />
	      </q-card-action>
	    </q-card>

   	</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import $ from 'jquery';
import axios from 'axios'


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
    	sending: false,
    	customer: { 
	    	name: '',
	    	table: '',
	    	orders: []
    	}, 

    	cart: []
    }
  },
  methods: { 

  	removeItem(item) {
  		// console.log(item.label)

  		// console.log(this.cart)

  		this.cart = $.grep(this.cart, function(e){ 
		     return e.label != item.label; 
		});
  		this.customer.orders = $.grep(this.customer.orders, function(e){ 
		     return e.label != item.label; 
		});

		// console.log(this.cart);
		// console.log(this.customer);
      localStorage.removeItem("customer");
      localStorage.setItem("customer", JSON.stringify(this.customer)); 

  	},


  	resetAction() {
  		this.customer = {
  			    	name: '',
			    	table: '',
			    	orders: []
  				}
      localStorage.removeItem("customer");
      localStorage.setItem("customer", JSON.stringify(this.customer)); 
       this.$router.push('/')
  	},


  	placeOrderAction() {
  		// this.customer = {
  		// 	    	name: '',
			 //    	table: '',
			 //    	orders: []
  		// 		}

  		// console.log(this.customer)

  	  let orders = this.customer.orders
  	  this.sending = true
      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `
			mutation MyMutation {
			  insert_customers(objects: {name: "${this.customer.name}", status: "Queue", table_no: "${this.customer.table}"}) {
			    returning {
			      id
			    }
			    affected_rows
			  }
			} 
            `
        },
        headers: headers
      }).then((result) => {
        // console.log(result)
        // this.categories = result.data.data.categories
        // this.tab = this.categories[0].slug

        // console.log(result.data.data.insert_customers.returning.id)

        let customer_id = result.data.data.insert_customers.returning[0].id;

        // console.log(customer_id)
        orders.forEach((entry) => {
		    // console.log(entry);

	      axios({
	        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
	        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
	        method: 'post',
	        data: {
	          query: `
				mutation MyMutation2 {
				  insert_orders(objects: {customer_id: ${customer_id}, item: "${entry.label}", qty: ${entry.count}}) {
				    affected_rows
				  }
				}
	            `
	        },
	        headers: headers
	      }).then((result) => { 
	      	// console.log(result)

	      	this.customer.orders = []
	      	localStorage.removeItem("customer"); 
      		localStorage.setItem("customer", JSON.stringify(this.customer)); 
  	  		this.sending = false
		    this.$router.push('/success')
	      });


		});
      });   


      // localStorage.removeItem("customer");
      // localStorage.setItem("customer", JSON.stringify(this.customer)); 
       // this.$router.push('/')
  	}
  },

  mounted() {
    this.customer = JSON.parse(localStorage.getItem("customer"));

    let arr = this.customer.orders
	const combinedItems = (arr = []) => {
	   const res = arr.reduce((acc, obj) => {
	      let found = false;
	      for (let i = 0; i < acc.length; i++) {
	         if (acc[i].label === obj.label) {
	            found = true;
	            acc[i].count++;
	         };
	      }
	      if (!found) {
	         obj.count = 1;
	         acc.push(obj);
	      }
	      return acc;
	   }, []);
	   return res;
	}
	// console.log(combinedItems(arr));
    // if (cnt > 0) {
    //     document.write(current + ' comes --> ' + cnt + ' times');
    // }

    this.cart = combinedItems(arr)


  }
})
</script>
<style>
	.brand-banner {
	    font-weight: bold;
	    text-shadow: 2px 2px #000000;
	}

	.brand-banner span {
	    color: #eda42f;
	}

	.text-shadow {
		text-shadow: 2px 1px #000000;
	}
</style>