<template>
  <q-page  class="text-center main-layout">
  

    <div class="q-pa-md"> 

      <div>
        <img src="~assets/logo-w.png" style="width: 175px; max-width: 50%;">
      </div>

      <div>
       <h3 class="tagline text-white text-poppins text-f18 text-bold text-uppercase text-shadow q-mb-xl">Where Filipino food is a pleasure</h3>
      </div>

      <q-card class="card-home card-dark card-form q-mt-xl" v-bind:class="{ 'card-phone': !customer.table}">
        <q-card-section class="q-pa-sm"> 
            <!-- <p class="q-mb-sm text-white text-poppins  text-subtitle2">May I ask your firstname</p> -->
            <div class="form-wrapper row q-mx-auto q-my-sm "  style="width: 500px; max-width: 100%;">
              <div class=" q-pa-xs col-md-12 col-12" >
                <q-input filled class="bg-white text-white text-poppins" label="May I ask your firstname" dense v-model="customer.name" />
              </div>
              <div class="col-md-12 col-12 q-pa-xs" v-if="isOutside">
                <q-input filled class="bg-white text-white text-poppins" label="Phone No." dense v-model="customer.table" />
              </div>
              <div class="col-12" style="margin-top: 10px;">
                <q-btn label="Order Now" unelevated size="md" dense class="bg-amber q-px-md text-poppins" @click="orderNow" />
              </div>
            </div>
            <!-- <q-btn icon="vpn_key" color="amber-4" class="text-black q-mt-md" unelevated @click="loginAction" /> -->
        </q-card-section>
      </q-card> 

      


    </div>
   	
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
    	customer: { 
	    	name: '',
	    	table: '',
	    	orders: []
    	},
    	welcome: true,
    	tab: 'best',
    	text: '',
      isOutside: false,
    }
  },
  methods: {
  	orderNow() {
  		this.welcome = false

      if (this.customer.name) {

        localStorage.removeItem("customer");
        localStorage.setItem("customer", JSON.stringify(this.customer)); 
 
        this.$router.push('menu')

      } else {
        alert('Please type your name')
      }

  	}
  },

  mounted() {

    // console.log(this.$route.query.table)
    this.customer.table = this.$route.query.table;
    if (!this.customer.table) {
      this.isOutside = true
    }
      localStorage.setItem("customer", JSON.stringify(this.customer)); 
    this.customer = JSON.parse(localStorage.getItem("customer"));
  }
})
</script>
<style>
	.brand-banner {
	    font-weight: bold;
	    text-shadow: 2px 2px #000000;
	}

	.brand-banner span {
	    color: #eda42f;
	}

	.text-shadow {
		text-shadow: 2px 1px #000000;
	}

</style>