<template>
  <q-page  class="text-center main-layout">
  
    <div class="q-pa-md">
      <div>
        <img src="~assets/logo-w.png" style="width: 150px; max-width: 50%;">
      </div>
      <h3 class="q-pt-none  text-white q-my-md brand-banner text-h5">ADMIN LOGIN</h3>
      <div class="login-wrapper">
        <q-card class="my-card">
          <q-card-section> 
              <p class="text-red" v-if="hasError">{{error}}</p>
              <q-input label="Name" filled dense v-model="username" class="text-white q-my-sm">

                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>

              </q-input>
              <q-input label="Password" type="password"  filled dense v-model="password" class="text-white q-my-sm">
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>

              </q-input>

              <q-btn icon="vpn_key" color="amber-4" class="text-black q-mt-md" unelevated @click="loginAction" />
          </q-card-section>
        </q-card> 
        
      </div>


    </div>
   	
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import axios from 'axios'


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
      email: '',
      username: '',
      password: '',
      hasError: false,
      error: 'Invalid Username or Password', 
    }
  },
  methods: { 

    loginAction() {
      this.hasError = false
      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `
            query MyQuery {
              assistants(where: {active: {_eq: "true"}, name: {_eq: "${this.username}"}, password: {_eq: "${this.password}"}}) {
                name
                password
                role
              }
            } 
            `
        },
        headers: headers
      }).then((result) => { 
        // console.log(result.data.data.assistants)

        if (result.data.data.assistants.length) {

          let auth = result.data.data.assistants[0] 
          localStorage.removeItem("auth");  
          localStorage.setItem("auth", JSON.stringify(auth)); 
          this.$router.push('/orders')

        } else {
          this.hasError = true
        }
      });




    },


   login() {
     // this.$store
     //   .dispatch('login', {
     //     email: this.email,
     //   })
     //   .then(() => {
     //     this.$router.push({ name: 'Profile' })
     //   })
     //   .catch((err) => {
     //     if (err instanceof SDKError) {
     //       console.log(err)
     //     }
     //     if (err instanceof RPCError) {
     //       console.log(err)
     //     }
     //     if (err instanceof ExtensionError) {
     //       console.log(err)
     //     }
     //   })
   },

  },

  mounted() {
 
      localStorage.removeItem("auth");
  }
})
</script> 

<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*,
*::before,
*::after {
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
 outline: none;
}
body {
 margin: 0;
 color: #333;
 background-color: #fff;
 min-height: 100%;
}
form,
label {
 display: flex;
 flex-flow: column;
 text-align: center;
}
.email-input {
 padding: 10px;
 margin: 1rem auto;
 border: 1px solid #ccc;
 border-radius: 50px;
 outline: none;
 transition: 0.5s;
 width: 80%;
}
.email-input:focus {
 border: 1px solid #42b983;
}
.submit {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 justify-content: space-between;
}
.submit > a {
 text-decoration: none;
}
.submit > button {
 padding: 0.6rem 1rem;
 cursor: pointer;
 background: #fff;
 border: 1px solid #ccc;
 border-radius: 50px;
 width: 80%;
 outline: none;
 transition: 0.3s;
 margin: 0 auto;
 font-size: 14px;
}
.submit > button:hover {
 border-color: #42b983;
}
.error {
 color: brown;
 margin: 1rem 0 0;
}
.container {
 max-width: 42rem;
 margin: 0 auto;
 padding: 2rem 1.25rem;
 overflow: auto;
}
.login {
 max-width: 20rem;
 margin: 0px auto;
 padding: 1rem;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 4px;
 text-align: center;
}

  .login-wrapper {
    max-width: 90%;
    width: 400px;
    margin: 0 auto;
  }
</style>