<template>
  <q-page  class="">

    <q-header class=" text-white" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <q-toolbar> 
        <q-toolbar-title class="text-bold" style=" font-size: 16px;"> 
          <img src="~assets/logo-w.png" style="width: 55px; max-width: 50%;">
        </q-toolbar-title>


        <div class=" q-pa-sm search-form">
          <!-- <q-btn icon="person_add"  size="sm" label="Add Staff" @click="addDialog = true" flat v-if="auth.role == 'Admin'"/> -->
          {{auth.role}} : {{auth.name}}
          <q-btn icon="exit_to_app"   @click="logout" flat />
          <!-- <q-input placeholder="Search..." filled dense class="q-my-sm q-pa-none" bg-color="white" /> -->
        </div>
      </q-toolbar>
      <div class="q-pa-none" style="background-color: #ddd3b0;">
        <q-btn flat type="href" to="/orders" class="q-mx-xs text-black" label="Orders" dense />
        <q-btn flat type="href" to="/orders" class="q-mx-xs text-black" label="Menu" dense v-if="auth.role == 'Admin'"  />
        <q-btn flat type="href" to="/assistant" class="q-mx-xs text-black" label="Staff" dense v-if="auth.role == 'Admin'" />
      </div>
    </q-header>
    <div class="q-px-sm q-py-md"> 

        <q-card class="my-card q-pa-none">
          <q-card-section class=" q-pa-none"> 

            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="brown-10"
              indicator-color="brown-10" 
              narrow-indicator
              align="left"
              inline-label
            >
              <q-tab name="menu_list" label="Menu" /> 
              <q-tab name="addMenu" icon="restaurant" label="Add Menu" />  
            </q-tabs>
            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel class="q-pa-none" name="menu_list">

                  <q-table  
                    :rows="rows"
                    :columns="columns"
                    row-key="name"
                    :pagination="initialPagination"
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props" class="bg-grey-2">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          {{ col.label }}
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <!-- <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" /> -->
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >  
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-if="col.name === 'img_url'">
                        	<img :src="col.value" style="width: 80px;">
                        </span>
                        <span v-else-if="col.name === 'active'">
                          <!-- <q-btn  color="green" unelevated icon="edit" size="sm" dense @click="updateDialogAction(props.row)" class="q-px-sm  q-mr-sm text-white" /> --> 
                          <q-toggle
                            v-model="rows[props.pageIndex].active"
                            color="blue" 
                            @update:model-value="updateMenu(rows[props.pageIndex])" 
                          />
                          <!-- <q-btn label="Void" color="red-4" dense @click="voidOrder(props.row)" class="q-px-sm text-black " /> -->
                        </span>
                        <span v-else-if="col.name === 'action'"> 
                          <q-btn  :color="props.expand ? 'grey' : 'green'" unelevated :icon="props.expand ? 'edit_attributes' : 'edit'" size="sm" dense  class="q-px-sm  q-mr-sm text-white" @click="editRow(props.row)"/>
                          <q-btn  color="red-5" unelevated  icon="highlight_off" size="sm" dense  class="q-px-sm  q-mr-sm text-white" @click="deleteRow(props.row)"/>
                          
                          <!-- <q-btn label="Void" color="red-4" dense @click="voidOrder(props.row)" class="q-px-sm text-black " /> -->
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <q-tr v-show="props.expand" :props="props.row.customer_orders">
                        <q-td colspan="100%">

                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-tab-panel> 
              <q-tab-panel class="q-pa-none" name="addMenu">
                <q-card style="min-width: 400px;">
                  <q-card-section>
                    <div class="text-subtitle2 text-uppercase text-bold">Details</div>
                  </q-card-section>

                  <q-banner dense inline-actions class="text-white bg-green q-mb-sm" v-if="insertedAssistant">

                    <template v-slot:avatar>
                      <q-icon name="check" color="white" />
                    </template> 
                    New Menu Added
                  </q-banner>

                  <q-form
                    @submit="onSubmit"  
                    class=" q-mt-sm"
                  >
                    <q-card-section class="q-pt-none">
                        <q-input
                          outlined
                          dense
                          v-model="menu.label"
                          label="Label" 
                          lazy-rules
                          class="q-my-sm"  
                        />

                        <p class="q-mb-none">Image <span> <q-btn dense color="grey-3"  size="sm" class="q-pa-xs text-black q-mx-sm" icon="backup" @click="uploadAction" /></span> </p>

                        <div class="row q-mt-sm">
                        	<div class="col-md-12">
                        		 <img :src="menu.img_url" style="width: 150px;">
                        	</div>
                          
                        <q-btn type="a" :href="menu.img_url" :label="menu.img_url" flat target="_blank" class="text-lowercase  " dense color="blue" />
                        	<!-- <div class="col-md-12">
                        		 <q-btn dense color="primary"  size="md" class="q-pa-sm" label="Upload" @click="uploadAction" />
                        	</div> -->
                        </div>
                        
                       
                        <q-input
                          outlined
                          dense
                          v-model="menu.price"
                          label="Price" 
                          lazy-rules
                          class="q-my-sm"  
                        />
                        <q-input
                          outlined
                          dense
                          v-model="menu.caption"
                          label="Caption" 
                          lazy-rules
                          class="q-my-sm"  
                        />
                        <q-select outlined dense v-model="menu.category_id" :options="categoryOptions" label="Category" class="q-my-sm" />
                        <q-input
                          outlined
                          dense
                          v-model="menu.order"
                          label="Order" 
                          lazy-rules
                          class="q-my-sm"  
                        />
                        <q-toggle
                          v-model="menu.active"
                          color="blue-11"
                          label="Active"
                          left-label
                        />
                    </q-card-section>

                    <q-card-actions align="right"> 
                      <q-btn  type="submit" label="Submit" color="primary" />
                    </q-card-actions>
                  </q-form>
                </q-card>
              </q-tab-panel>   
            </q-tab-panels>
          </q-card-section>
        </q-card>
    </div>




          <q-dialog v-model="editDialog">
            <q-card style="min-width: 400px;">
              <p class="text-subtitle2 q-px-md q-pt-md text-uppercase">Edit {{currentMenu.label}}</p>
               <q-form
                  @submit="updateMenu(currentMenu)"  
                  class=" q-mt-sm"
                >
                  <q-card-section class="q-pt-none">
 
                      <q-input
                        outlined
                        dense
                        v-model="currentMenu.label"
                        label="Label" 
                        lazy-rules
                        class="q-my-sm"  
                      />

                      <p class="q-mb-none">Image <span> <q-btn dense color="grey-3"  size="sm" class="q-pa-xs text-black q-mx-sm" icon="backup" @click="uploadEditAction" /></span> </p>

                      <div class="row q-mt-sm">
                        <div class="col-md-12">
                           <img :src="currentMenu.img_url" style="width: 150px;">
                        </div>
                        <q-btn type="a" :href="currentMenu.img_url" :label="currentMenu.img_url" flat target="_blank" class="text-lowercase  " dense color="blue" /> 
                      </div>
                      
                     
                     <!--  <q-input
                        outlined
                        dense
                        v-model="currentMenu.img_url"
                        label="Image Name" 
                        lazy-rules
                        class="q-my-sm"  
                      /> -->
                     
                      <q-input
                        outlined
                        dense
                        v-model="currentMenu.price"
                        label="Price" 
                        lazy-rules
                        class="q-my-sm"  
                      />
                      <q-input
                        outlined
                        dense
                        v-model="currentMenu.caption"
                        label="Caption" 
                        lazy-rules
                        class="q-my-sm"  
                      />  
                      <q-select outlined dense v-model="currentMenu.menu_categories.name" :options="categoryOptions"  @update:model-value="updateCategory(currentMenu)" label="Category" class="q-my-sm" />
                      <q-input
                        outlined
                        dense
                        v-model="currentMenu.order"
                        label="Order" 
                        lazy-rules
                        class="q-my-sm"  
                      />
                      <q-toggle
                        v-model="currentMenu.active"
                        color="blue-11"
                        label="Active"
                        left-label
                      />
                  </q-card-section>

                  <q-card-actions align="right"> 
                    <q-btn  type="submit" label="Update" color="primary" />
                  </q-card-actions>
                </q-form>
            </q-card>
          </q-dialog>








                         
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useQuasar, Notify } from 'quasar'

import * as filestack from 'filestack-js';
// var Filestack = require('filestack-vue');
const client = filestack.init('AOwTpmnlNRsCfc2H0tbSzz');
import axios from 'axios'
var dateFormat = require("dateformat");


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
        auth: {
          name: null,
          role: null,
        },
        initialPagination: {
          sortBy: 'desc',
          descending: false,
          page: 1,
          rowsPerPage: 20
        },
        tab: 'menu_list',
        columns: [ 
          { name: 'no',align: 'left', label: ' No.',  sortable: true },
          { name: 'img_url',align: 'left', label: 'Image', field: 'img_url', sortable: true },
          { name: 'label',align: 'left', label: 'Label', field: 'label', sortable: true },
          // { name: 'caption', align: 'left', label: 'Caption', field: 'caption', sortable: true },  
          { name: 'price', align: 'left', label: 'Price', field: 'price', sortable: true }, 
          { name: 'category', align: 'left', label: 'Category', field: row => row.menu_categories.name, sortable: true }, 
          { name: 'active', align: 'left', label: 'Active', field: row => row.menu_categories.active ? true : false, sortable: true }, 
          { name: 'action', align: 'left', label: 'Action', field: 'action', sortable: true }, 
        ], 
 
        rows: [],

        menu: {
        	label: null,
        	img_url: 'menu/dp_placeholder.jpeg',
        	caption: null,
        	price: null,
        	category_id: null,
          order: null,
        	active: false
        },

        categoryOptions:[],
        currentMenu: { 
          label: null,
          img_url: 'menu/dp_placeholder.jpeg',
          caption: null,
          price: null,
          category_id: null,
          order: null,
          active: false
        },
        editDialog: false,

    		options: {
    			fromSources: ["local_file_system", "url"],
    		    onUploadDone: file => {
    		        // If you throw any error in this function it will reject the file selection.
    		        // The error message will be displayed to the user as an alert.
    		        // if (file.size > 1000 * 1000) {
    		        //     throw new Error('File too big, select something smaller than 1MB');
    		        // }


    		        this.menu.img_url = file.filesUploaded[0].url
    		        // console.log(file)
    		        // console.log(this.menu.img_url)
    		    },
    		    onOpen: file => {
    		        // If you throw any error in this function it will reject the file selection.
    		        // The error message will be displayed to the user as an alert.
    		        // if (file.size > 1000 * 1000) {
    		        //     throw new Error('File too big, select something smaller than 1MB');
    		        // }

    		    }
    		},
        optionsEdit: {
          fromSources: ["local_file_system", "url"],
            onUploadDone: file => {
                // If you throw any error in this function it will reject the file selection.
                // The error message will be displayed to the user as an alert.
                // if (file.size > 1000 * 1000) {
                //     throw new Error('File too big, select something smaller than 1MB');
                // }


                this.currentMenu.img_url = file.filesUploaded[0].url

                console.log
                // console.log(file)
                // console.log(this.menu.img_url)
            },
            onOpen: file => {
                // If you throw any error in this function it will reject the file selection.
                // The error message will be displayed to the user as an alert.
                // if (file.size > 1000 * 1000) {
                //     throw new Error('File too big, select something smaller than 1MB');
                // }

            }
        }

    }
  },
  methods: { 
    logout() {
      this.$router.push('login');
    },

    updateCategory() { 
      this.currentMenu.category_id = this.currentMenu.menu_categories.name.value;
    },

    updateMenu(props, changed) {
      // console.log(props)

      this.currentMenu = props;

      console.log(this.currentMenu)
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `  
                mutation MyMutation {
                  update_menu(where: {id: {_eq: ${this.currentMenu.id}}}, _set: {active: ${this.currentMenu.active}, caption: "${this.currentMenu.caption}", category_id: ${this.currentMenu.category_id}, img_url: "${this.currentMenu.img_url}", label: "${this.currentMenu.label}", order: ${this.currentMenu.order}, price: ${this.currentMenu.price}}) {
                    affected_rows
                  }
                }

              `
          },
          headers: headers
        }).then((result) => {  
          console.log(result)
          if (result.data.data.update_menu.affected_rows) {
            this.editDialog = false;
             Notify.create({
              color: 'amber-2',
              message: 'Menu Updated',      
              progress: true,
              position: 'top-right',
              textColor: 'black'
            });

             this.dataInit()
          }
        });

    },

    editRow(props) { 

      this.editDialog = true; 
      this.currentMenu = props; 

      // console.log(this.currentMenu)
    },

    deleteRow(props) { 
 
      // this.currentMenu = props; 

      console.log(props)
      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `  
            mutation MyMutation {
              delete_menu(where: {id: {_eq: ${props.id}}}) {
                affected_rows
              }
            }


            `
        },
        headers: headers
      }).then((result) => { 
        // console.log(result.data.data)
        // console.log(result.data.data.delete_menu.affected_rows)
        if (result.data.data.delete_menu.affected_rows) {
            this.editDialog = false;
             Notify.create({
              color: 'amber-2',
              message: 'Menu Removed',      
              progress: true,
              position: 'top-right',
              textColor: 'black'
            });
          this.dataInit();
        }
        
      });

      // console.log(this.currentMenu)
    },

  	uploadAction() {
  		client.picker(this.options).open(); 
  	},

    uploadEditAction() {
      client.picker(this.optionsEdit).open(); 
    },

    onSubmit() {
      // console.log(this.menu)




        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `
                mutation MyMutation {
                  insert_menu(objects: {active: ${this.menu.active}, caption: "${this.menu.caption}", category_id: ${this.menu.category_id.value}, img_url: "${this.menu.img_url}", label: "${this.menu.label}", order: ${this.menu.order}, price: ${this.menu.price}}){
                    affected_rows
                  }
                } 
              `
          },
          headers: headers
        }).then((result) => {  

          // console.log(result.data.data.insert_menu.affected_rows)

          if (result.data.data.insert_menu.affected_rows) {

             Notify.create({
              color: 'amber-2',
              message: 'New Menu Created',      
              progress: true,
              position: 'top-right',
              textColor: 'black'
            });
            this.tab =  'menu_list'

            this.dataInit()
          } else {
            alert('Error Contact Administrator')
          }
        });
    },


    onUpdate() {

    },


    onDelete() {

    },
    
    dataInit() {

        let self = this
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `

      				query MyQuery {
      				  menu(order_by: {label: asc}) {
      				    label
      				    img_url
      				    id
      				    created_at
      				    category_id
      				    caption
      				    price
                  active
                  order
      				    menu_categories {
      				      name
      				    }
      				  }
      				  categories {
      				    name
      				    id
      				  }

      				}


              `
          },
          headers: headers
        }).then((result) => {  

          // console.log(result)
          let cat = result.data.data.categories;

          cat.forEach(function(element){
          	var obj = {
          		label : element.name,
          		value : element.id
          	}
 

          	self.categoryOptions.push(obj)
          })
 
          this.rows = result.data.data.menu 
        });
    }
  },

  mounted() {
    this.auth = JSON.parse(localStorage.getItem("auth"));

    this.dataInit();
  }
})
</script> 

<style type="text/css">
  .login-wrapper {
    max-width: 90%;
    width: 400px;
    margin: 0 auto;
  }

  form {
    text-align: left;
  }
</style>