<template>
  <q-page  class="text-center inner-layout">

    <div style="background-color: #17120cd1;">
      <img src="~assets/logo-w.png" class="q-mt-xs" style="width: 70px; max-width: 50%;">
      <!-- <small class="text-white q-py-xs" style="display: block;">"Where Filipino food is a pleasure"</small> -->
    </div>


    <div class="header-wrapper  row" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <div class="col-8 text-left">
        <q-btn flat icon="account_circle" type="a" :href="`/?table=${customer.table}`" class="text-white q-pr-none" />
        <span class="q-mb-none text-white text-bold q-pa-sm q-pl-xs text-poppins text-uppercase" v-if="customer.name">{{customer.name}} - {{customer.table}}</span>
      </div>
      <div class="col-4 text-right q-pr-sm"> 
        <q-btn flat icon="restaurant" type="a" href="/cart" class="text-white cart-count" :label="customer.orders.length"/>

      <!--   <q-btn dense unelevated  class="text-white q-pa-sm q-mt-xs " size="" round icon="restaurant"  >
          <q-badge color="red" class="q-ml-sm">{{customer.orders.length}}</q-badge>
        </q-btn>
 -->

      </div>
      
    </div> 
  
    <div class=" q-pa-none">
      <div class="card-dark1">


        <q-card-section v-if="loader" class="bg-yellow-custom flex flex-center" style="min-height: 90vh;"> 
              <q-spinner-facebook
                color="white"
                size="2em"
              /> 
        </q-card-section>

        <div v-else>
          <q-tabs
            v-model="tab"
            dense
            class="text-black bg-white"
            active-color="amber-9"
            indicator-color="amber-9"
            align="justify"
            narrow-indicator
          >
            <q-tab  name="all" label="Menu" />
            <q-tab v-for="(category, index) in categories" :key="index" :name="category.slug" :label="category.name" />
          </q-tabs>

          <q-separator />

          <q-tab-panels class="card-dark1 card-dark-inner-tab" v-model="tab" animated  style=" max-height: 90vh; overflow-y: auto;">


            <q-tab-panel class="bg-yellow-custom q-pa-xs"  style="min-height: 90vh;" name="all"> 
              <div class="container">
                
                <div   v-for="(items, key) in menuItemsgroupByCategoryName" :key="key">   
                  <h6 class="q-my-md text-left text-uppercase q-mx-sm text-poppins" style="border-bottom: 1px solid #ccc; font-size: 15px;">{{key}}</h6>
                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-6 cursor-pointer q-pa-xs" v-for="item in items" :key="item" @click="addToCart(item)">
                    <q-card class="card-dark1 card-menu" v-bind:class="{'card-bundle' : key =='Bundle'}"> 
                      <q-card-section class="q-pa-sm card-menu-inner">  
                        <img :src="item.img_url" class="menu-img">
                        <p class="q-mb-none text-poppins text-menu-label text-left">{{item.label}}</p>
                        <p class="q-mb-none  text-poppins text-xs  text-left" v-if="key == 'Bundle'">{{item.caption}}</p>
                        <p class="q-mb-none q-mt-md text-poppins text-f6 text-left card-price"><span class="text-subtitle2">P {{item.price}}</span></p>
                      </q-card-section > 
                    </q-card> 
                    </div>
                  </div>
                </div>
              </div>  
            </q-tab-panel>

            <q-tab-panel class="bg-yellow-custom q-pa-xs"  style="min-height: 90vh;"    v-for="(items, key) in menuItems" :key="key" :name="key">   
              <div class="container">
                
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-6 cursor-pointer q-pa-xs" v-for="item in items" :key="item" @click="addToCart(item)">
                  <q-card class="card-dark1 card-menu" v-bind:class="{'card-bundle' : key =='Bundle'}"> 
                    <q-card-section class="q-pa-sm card-menu-inner">  
                      <img :src="item.img_url" class="menu-img">
                      <p class="q-mb-none text-poppins text-menu-label text-left">{{item.label}}</p>
                      <p class="q-mb-none  text-poppins text-xs  text-left">{{item.caption}}</p>
                      <p class="q-mb-none q-mt-md text-poppins text-f6 text-left card-price"><span class="text-subtitle2">P {{item.price}}</span></p>
                    </q-card-section > 
                  </q-card> 
                  </div>
                </div>

                <q-list separator class="hidden">

                  <q-item  clickable v-ripple class="menu-item" ref="menuuuuuuuu" v-for="item in items" :key="item" @click="addToCart(item)">

                    <q-item-section top thumbnail class="q-ml-none">
     
                      <!-- <img src="menu/carbonara.jpeg"> -->
                      <img :src="item.img_url" class="menu-img">
                    </q-item-section>

                    <q-item-section class="text-left">
                      <q-item-label class="text-poppins text-f6 text-white text-shadow">{{item.label}} - <span class="text-subtitle2">{{item.price}}</span> </q-item-label>
                      <q-item-label caption>
                        <div class="row">
                          <div class="col-12 text-poppins text-xs text-grey text-shadow">
                            {{item.caption}}
                          </div>
                        </div>
                      </q-item-label>
                    </q-item-section>
                  </q-item> 
       
                </q-list>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </div>
   	</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import axios from 'axios';
import $ from 'jquery';

const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

function moveFlyout(flyToY,flyToX) {
  setTimeout(function() {
    $('.flyout').css({'top':flyToY,'left':flyToX});
  },100);
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return {
      categories: [],
      menuItems: [],
      menuItemsgroupByCategoryName: [],
    	best: [
    		{ label: "Crispy Pata", img: '', caption: 'lorem ipsum dolor caption ni',  price: 199, qty: null},
    		{ label: "Pancit Canton", img: '', caption: 'lorem ipsum dolor caption ni',  price: 199, qty: null},
    		{ label: "Carbonara", img: '', caption: 'lorem ipsum dolor caption ni',  price: 199, qty: null},
    		{ label: "Chicken", img: '', caption: 'lorem ipsum dolor caption ni',  price: 199, qty: null},
    	],
    	customer: { 
	    	name: '',
	    	table: '',
	    	orders: []
    	},
    	welcome: true,
    	tab: 'all',
    	text: '',
      loader: true
    }
  },
  methods: {
  	orderNow() {
  		this.welcome = false

  	},
  	addToCart(order) {
  		// console.log(order) 
      // console.log(this) 
      // console.log(this.$refs) 
  		this.customer.orders.push(order);
  		// console.log(this.customer)

      $(this.$refs.menuuuuuuuu).addClass('hellooooooo')

      // $(".menu-item").addClass('sendtocart')
      localStorage.removeItem("customer");
      localStorage.setItem("customer", JSON.stringify(this.customer)); 
  	},

    getCategories() {
      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `
            query MyQuery {
              categories(order_by: {id: asc}) {
                name
                id
                caption
                slug
              }
            }

            `
        },
        headers: headers
      }).then((result) => {
        // console.log(result)
        this.categories = result.data.data.categories
        // this.tab = this.categories[0].slug

      });   
    },

    getMenuItems() {

      const groupBy = keys => array =>
        array.reduce((objectsByKeyValue, obj) => {
          const value = keys.map(key => obj[key]).join('-');
          objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj);
          return objectsByKeyValue;
        }, {});
      const groupByCat = keys => array =>
        array.reduce((objectsByKeyValue, obj) => { 
          const value = keys.map(key => obj[key]).join(' ');
          objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj);
          return objectsByKeyValue;
        }, {});

      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `
            query MyQuery {
              menu(order_by: {order: asc}, where: {active: {_eq: true}}) {
                id
                img_url
                label
                caption
                category_id
                price
                menu_categories {
                  caption
                  id
                  name
                  slug
                }
              }
            }

            `
        },
        headers: headers
      }).then((result) => {
        console.log(result)
        let res = result.data.data.menu
        this.menuItems = result.data.data.menu
        
        this.loader = false
        for (var i = this.menuItems.length - 1; i >= 0; i--) {
          // console.log(this.menuItems[i].label)
          // console.log(this.menuItems[i].menu_categories.slug)
          this.menuItems[i].category_slug = this.menuItems[i].menu_categories.slug
          this.menuItems[i].category_name = this.menuItems[i].menu_categories.name
        }
 


        // console.log(this.menuItems)
        // res.forEach(function(arrayItem) {
          // console.log(arrayItem);
        //   // let obj = {
        //   //   title: arrayItem.title,
        //   //   value:
        //   //     'http://app.helpkontent.io/t1/details.php?id=' + arrayItem.recId
        //   // }
        //   // objArray.push(obj)
        // })

        // console.log(this.menuItems)
        const groupByName = groupBy(['category_slug']);
        const groupByCategoryName = groupByCat(['category_name']);
        let menus = this.menuItems
        this.menuItems = groupByName(menus);
        this.menuItemsgroupByCategoryName = groupByCategoryName(menus);
        // console.log(this.menuItemsgroupByCategoryName)
      });  


    },

    dataInit() {
      this.getCategories()
      this.getMenuItems()

    }
  },

  mounted() {
    this.customer = JSON.parse(localStorage.getItem("customer"));
    this.dataInit();


    $(".menu-item").click(function() {
      // console.log('heyyyy')
      $(this).addClass('sendtocart')
    });



  
    var flyoutStart = $('.menu-img'),
        flyoutEnd = $('.cart-count'),
        flyoutFlag = false;
    
    flyoutStart.on('click',function() {

      console.log(this)
      // Get top/left positions of the flyoutStart element, and the flyoutEnd element
      var flyoutStartTop = flyoutStart[0].getBoundingClientRect().top + $(window)['scrollTop'](),
          flyoutStartLeft = flyoutStart[0].getBoundingClientRect().left + $(window)['scrollLeft'](),
          flyoutEndTop = flyoutEnd[0].getBoundingClientRect().top + $(window)['scrollTop'](),
          flyoutEndLeft = flyoutEnd[0].getBoundingClientRect().left + $(window)['scrollLeft'](),
          flyoutEndRight = flyoutEnd[0].getBoundingClientRect().right + $(window)['scrollLeft']();
      
      if (flyoutFlag === false) {
              
        // Set flag to true to prevent multiple flyout elements from multiple clicks
        flyoutFlag = true;

        // Clone flyoutStart element, add flyout class, set left and top pos, insert after existing flyoutStart element
        flyoutStart.clone().addClass('flyout').css({'top':flyoutStartTop, 'left':flyoutStartLeft}).insertAfter(flyoutStart);

        // If the fixed desktop navigation bar is present
        if ($(window).width() > 820) {
          
          // Make the navigation bar appear
          // $('.masthead').removeClass('is-hidden');
          
          // Calculate the position of the middle of the flyoutEnd element
          var flyoutEndMid = ((flyoutEndRight - flyoutEndLeft)/2)+flyoutEndLeft;
          
          // Move the flyout
          moveFlyout(flyoutEndTop,flyoutEndMid);
        
        // If the mobile navigation bar is present
        } else {
          
          // Animate the flyout off the top right corner of the screen
          moveFlyout('-100px','98%');
          
        }
        
        // After animation has run, remove the element from the DOM
        // Possible to do: replace setTimeout with requestAnimationFrame method: https://gist.github.com/joelambert/1002116
        setTimeout(function() {
          $('.flyout').remove();
          flyoutFlag = false;
        },1250)
      
      }

    })
    




  }
})
</script>
<style>
	.brand-banner {
	    font-weight: bold;
	    text-shadow: 2px 2px #000000;
	}

	.brand-banner span {
	    color: #eda42f;
	}

	.text-shadow {
		text-shadow: 1px 0.6px #000000;
	}
 
</style>