<template>
  <q-page  class="">

    <q-header class=" text-white q-pr-none" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <q-toolbar class="q-pr-none"> 
        <q-toolbar-title class="text-bold" style=" font-size: 16px;"> 
          <img src="~assets/logo-w.png" style="width: 55px; max-width: 50%;">
        </q-toolbar-title>


        <div class=" q-pa-none search-form">
          {{auth.role}} : {{auth.name}}
          <q-btn icon="exit_to_app"   @click="logout" flat />
          <!-- <q-input placeholder="Search..." filled dense class="q-my-sm q-pa-none" bg-color="white" /> -->
        </div>
      </q-toolbar>
      <div class="q-pa-none" style="background-color: #ddd3b0;">
        <q-btn flat type="href" to="/orders" class="q-mx-xs text-black" label="Orders" dense />
        <q-btn flat type="href" to="/menu-manage" class="q-mx-xs text-black" label="Menu" dense v-if="auth.role == 'Admin'" />
        <q-btn flat type="href" to="/assistant" class="q-mx-xs text-black" label="Staff" dense v-if="auth.role == 'Admin'" />
        
      </div>
    </q-header>
    <div class="q-px-sm q-py-md"> 
      <q-pull-to-refresh @refresh="dataInit">
        <q-btn flat @click="dataInit" icon="get_app" label="refresh" size="sm" class="q-mx-xs text-black q-my-xs" dense  />
        <q-btn flat @click="dataReset" v-if="auth.role == 'Admin'" icon="delete_forever" :disabled="loading" label="Reset Data" size="sm" color="red-5" class="q-mx-xs text-bold q-my-xs" dense style="float: right;"  />
        <q-card class="my-card q-pa-none">
          <q-card-section class=" q-pa-none"> 

            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="brown-10"
              indicator-color="brown-10" 
              narrow-indicator
              align="left"
            >
              <q-tab name="queue" label="Queue" v-if="auth.role == 'Admin' || auth.role == 'Waiter'"/> 
              <q-tab name="in-progress" label="In Progress" v-if="auth.role == 'Admin' || auth.role == 'Cashier' || auth.role == 'Chef'" /> 
              <q-tab name="done" label="Done" v-if="auth.role == 'Admin' || auth.role == 'Cashier' || auth.role == 'Chef'" /> 
              <q-tab name="all" label="All"  v-if="auth.role == 'Admin'" /> 
            </q-tabs>
            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel class="q-pa-none" name="queue">

                  <q-table  
                    :rows="rowsQueue"
                    :columns="columns"
                    row-key="table_no"

                    :pagination="initialPagination"
                   :loading="loading"
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props" class="bg-grey-2">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          {{ col.label }}
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >  
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-else-if="col.name === 'action'">
                          <q-btn label="Confirm" color="blue" dense @click="updateDialogAction(props.row, 'In Progress')" class="q-px-sm  q-mr-sm text-white" />
                          <q-btn label="Void" color="red-4" dense @click="voidOrder(props.row)" class="q-px-sm text-black " />
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <q-tr v-show="props.expand"  class="bg-amber-1" :props="props.row.customer_orders">
                        <q-td colspan="100%">
                          <div class="row">
                            <div class="col-4">
                              <q-list bordered  dense>
                                <q-item v-for="(item, key) in props.row.customer_orders" :key="key">
                                  <q-item-section class="text-subtitle2">{{item.item}} x {{item.qty}}</q-item-section>
                                </q-item> 
                              </q-list>
                            </div>
                            <div class="col-4 q-pl-md">
                              <p class="q-my-sm">Comments: <span class="text-bold">{{props.row.comments}}</span></p> 
                            </div>
                          </div> 
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-tab-panel>
              <q-tab-panel class="q-pa-none" name="in-progress">

                  <q-table  
                    :rows="rowsInProgress"
                    :columns="columns"
                    row-key="table_no"

                    :pagination="initialPagination"
                   :loading="loading"
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props"  class="bg-grey-2">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          {{ col.label }}
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        > 
                        {{index}}
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-else-if="col.name === 'action'">
                          <q-btn label="Done" color="green" @click="updateDialogAction(props.row, 'Done')"  dense class="q-px-sm q-mr-sm" />
                          <q-btn label="Queue" color="amber-4" @click="updateDialogAction(props.row, 'Queue')"  dense class="q-px-sm q-mr-sm text-black" />
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <q-tr v-show="props.expand"  class="bg-amber-1" :props="props.row.customer_orders">
                        <q-td colspan="100%">
                          <div class="row">
                            <div class="col-4">
                              <q-list bordered dense>
                                <q-item v-for="(item, key) in props.row.customer_orders" :key="key">
                                  <q-item-section>{{item.item}} x {{item.qty}}</q-item-section>
                                </q-item> 
                              </q-list>
                            </div>
                            <div class="col-4 q-pl-md">
                              <p class="q-my-sm">Comments: <span class="text-bold">{{props.row.comments}}</span></p> 
                            </div>
                          </div> 
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-tab-panel> 
              <q-tab-panel class="q-pa-none" name="done">

                  <q-table  
                    :rows="rowsDone"
                    :columns="columns"
                    row-key="table_no"

                    :pagination="initialPagination"
                   :loading="loading"
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props"  class="bg-grey-2">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          <span class="text-bold">{{ col.label }}</span>
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >  
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-else-if="col.name === 'action'">
                          <q-btn label="Queue" color="amber-4" @click="updateDialogAction(props.row, 'Queue')"  dense class="q-px-sm q-mr-sm text-black" />
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <q-tr v-show="props.expand"  class="bg-amber-1" :props="props.row.customer_orders">
                        <q-td colspan="100%">
                          <div class="row">
                            <div class="col-4">
                              <q-list bordered dense>
                                <q-item v-for="(item, key) in props.row.customer_orders" :key="key">
                                  <q-item-section>{{item.item}} x {{item.qty}}</q-item-section>
                                </q-item> 
                              </q-list>
                            </div>
                            <div class="col-4 q-pl-md">
                              <p class="q-my-sm">Comments: <span class="text-bold">{{props.row.comments}}</span></p> 
                            </div>
                          </div> 
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-tab-panel> 
              <q-tab-panel class="q-pa-none" name="all">
                  <q-table  
                    :rows="rowsAll"
                    :columns="columns"
                    row-key="table_no"

                    :pagination="initialPagination"
                   :loading="loading" 
                  >
                    <template v-slot:header="props">
                      <q-tr :props="props">
                        <q-th auto-width />
                        <q-th
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >
                          {{ col.label }}
                        </q-th>
                      </q-tr>
                    </template>

                    <template v-slot:body="props">


                      <q-tr :props="props">
                        <q-td auto-width>
                          <q-btn size="sm" color="amber-4" class="text-black" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
                        </q-td>
                        <q-td
                          v-for="col in props.cols"
                          :key="col.name"
                          :props="props"
                        >  
                        <span v-if="col.name === 'no'">{{props.pageIndex + 1}}</span>
                        <span v-else-if="col.name === 'action'">
                          <q-btn v-if="props.row.status == 'In Progress'" @click="updateDialogAction(props.row, 'Done')" label="done" color="green" dense class="q-px-sm" />
                          <q-btn v-if="props.row.status == 'Queue'" @click="updateDialogAction(props.row, 'Confirm')" label="Confirm" color="blue" dense class="q-px-sm q-mr-sm" />
                          <q-btn v-else label="Queue" color="amber-4" @click="updateDialogAction(props.row, 'Queue')" dense class="q-px-sm q-ml-sm text-black" />
                        </span>
                        <span v-else>{{ col.value }}</span> 
                        </q-td>
                      </q-tr>
                      <q-tr v-show="props.expand"  class="bg-amber-1" :props="props.row.customer_orders">
                        <q-td colspan="100%">
                          <div class="row">
                            <div class="col-4">
                              <q-list bordered dense>
                                <q-item v-for="(item, key) in props.row.customer_orders" :key="key">
                                  <q-item-section>{{item.item}} x {{item.qty}}</q-item-section>
                                </q-item> 
                              </q-list>
                            </div>
                            <div class="col-4 q-pl-md">
                              <p class="q-my-sm">Comments: <span class="text-bold">{{props.row.comments}}</span></p> 
                            </div>
                          </div> 
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-tab-panel>  
            </q-tab-panels>
          </q-card-section>
        </q-card>
      </q-pull-to-refresh>
    </div>
 
    <q-dialog v-model="updateOrderDialog">
      <q-card style="min-width: 400px; max-width: 99%;">
        <q-card-section>
          <div class="text-subtitle2 text-uppercase text-bold">Confirm Order</div>
        </q-card-section>

        <q-banner dense inline-actions class="text-white bg-green q-mb-sm" v-if="confirmedOrder">

          <template v-slot:avatar>
            <q-icon name="check" color="white" />
          </template> 
          Confirmed Order
        </q-banner>

        <q-form
          @submit="updateOrderApi"  
          class=" q-mt-sm"
        >
          <q-card-section class="q-pt-none">
              <q-input
                outlined
                dense
                v-model="order.comments"
                label="Comments" 
                lazy-rules
                type="textarea"
                class="q-my-sm" 
                rows="3"
              /> 
          </q-card-section>

          <q-card-actions align="right">
            <q-btn type="submit" label="Submit" color="primary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

import axios from 'axios'
var dateFormat = require("dateformat");


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'PageIndex',
  data () { 
    return { 
        auth: {
          name: null,
          role: null,
        },
        fromStatus: '',
        customer: null,
        order: {
          comments : ''
        },
        insertedAssistant: false,
        addDialog: false,
        updateOrderDialog: false,
        assistantOptions: [ 'Admin', 'Waiter', 'Chef', 'Cashier'],
        assistant: {
          name: null,
          role: null,
          password: null,
        },
        initialPagination: {
          sortBy: 'desc',
          descending: false,
          page: 1,
          rowsPerPage: 20
          // rowsNumber: xx if getting data from a server
        },
        tab: 'queue',
        columns: [ 
          { name: 'no',align: 'left', label: ' No.',  sortable: true },
          { name: 'table_no',align: 'left', label: 'Table No.', field: 'table_no', sortable: true },
          { name: 'name', align: 'left', label: 'Customer Name', field: 'name', sortable: true }, 
          { name: 'created_at', align: 'left', label: 'Time Ordered', format: val => dateFormat(val, "d mmm yyyy hh:MM TT"), field: 'created_at', sortable: true }, 
          { name: 'status', align: 'left', label: 'Status', field: 'status', sortable: true }, 
          { name: 'assistant', align: 'left', label: 'Assistant', field: 'assistant', sortable: true }, 
          { name: 'action', align: 'left', label: 'Action', field: 'action', sortable: true }, 
        ], 
 
        rowsQueue: [],

        rowsInProgress: [],

        rowsDone: [],

        rowsAll:  [],

        loading: true,
    }
  },
  methods: { 
    logout() {
      this.$router.push('login');
    },

    dataReset() {

      this.loading = true

        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: ` 
                mutation MyMutation {
                  delete_customers(where: {}) {
                    affected_rows
                  }
                } 
              `
          },
          headers: headers
        }).then((result) => {  
 
          axios({
            url: 'https://sterling-flea-81.hasura.app/v1/graphql',
            // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
            method: 'post',
            data: {
              query: ` 
                  mutation MyMutation {
                    delete_orders(where: {}) {
                      affected_rows
                    }
                  }

                `
            },
            headers: headers
          }).then((result) => {  
 
              this.dataInit() 
          });

        });
    },

    onReset() {
      // console.log('close')
      this.addDialog = false
      this.assistant.name = null
      this.assistant.password = null
      this.assistant.role = null
    },
    onSubmit() {
      // console.log(this.assistant)
      this.insertedAssistant = false
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `
              mutation MyMutation {
                insert_assistants(objects: {name: "${this.assistant.name}", password: "${this.assistant.password}", role: "${this.assistant.role}"}) {
                  affected_rows
                }
              } 
              `
          },
          headers: headers
        }).then((result) => { 
          // console.log(result.data.data.insert_assistants.affected_rows)

          if (result.data.data.insert_assistants.affected_rows) {
            this.insertedAssistant = true

            this.assistant.name = null
            this.assistant.password = null
            this.assistant.role = null
          }
        });

    },

    updateDialogAction(row, status) {
      this.updateOrderDialog = true
      this.customer = row
      this.fromStatus = status
    },

    updateOrderApi() {
 
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: ` 
              mutation MyMutation {
                update_customers(where: {id: {_eq: ${this.customer.id}}}, _set: {assistant: "${this.auth.name}", status: "${this.fromStatus}", comments: "${this.order.comments}"}) {
                  affected_rows
                }
              }

              `
          },
          headers: headers
        }).then((result) => {  

          if (result.data.data.update_customers.affected_rows) {
            this.order.comments = ''

            this.updateOrderDialog = false
            this.customer = null
            this.dataInit()
          }
        });

    },

    voidOrder(row) {
      // console.log(row)


      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: ` 
            mutation MyMutation {
              delete_customers(where: {id: {_eq: ${row.id}}}) {
                affected_rows
              }
            }


            `
        },
        headers: headers
      }).then((result) => { 
        // console.log(result.data.data)

        if (result.data.data.delete_customers.affected_rows) {
          this.order.comments = ''

          this.updateOrderDialog = false
          this.customer = null
          this.dataInit()
        }
      });



    },

    dataInit() {

      this.loading = true
        axios({
          url: 'https://sterling-flea-81.hasura.app/v1/graphql',
          // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
          method: 'post',
          data: {
            query: `
                query MyQuery {
                  customers(order_by: {created_at: asc}) {
                    id
                    assistant
                    created_at
                    name
                    status
                    table_no
                    comments
                    customer_orders {
                      item
                      qty
                    }
                  }
                }  
              `
          },
          headers: headers
        }).then((result) => { 
          // console.log(result.data.data)

          let res = result.data.data.customers
 
          this.rowsQueue = res.filter(obj => {
            return obj.status === "Queue"
          })

          this.rowsInProgress = res.filter(obj => {
            return obj.status === "In Progress"
          })
          
          this.rowsDone = res.filter(obj => {
            return obj.status === "Done"
          })
          
          this.rowsAll = result.data.data.customers
         
         // console.log(this.rowsInProgress)

         this.loading = false
 
        });
    }
  },

  mounted() {
    this.auth = JSON.parse(localStorage.getItem("auth"));
    if (this.auth.role === 'Cashier') {
      this.tab =  'in-progress'
    }

    this.dataInit();
  }
})
</script> 

<style type="text/css">
  .login-wrapper {
    max-width: 90%;
    width: 400px;
    margin: 0 auto;
  }
</style>