<template>
  <q-page  class="  inner-layout-thankyou">

    <div class="text-center" style="background-color: #17120cd1;">
      <img src="~assets/logo-w.png" style="width: 50px; max-width: 50%;">
    </div>
<!--     <div class="header-wrapper  row" style="background-image: linear-gradient(to right, rgb(15 17 19), rgb(90 58 14));">
      <div class="col-6 text-left">

        <q-btn flat icon="menu_open"  type="a" href="/menu" class="text-white q-pr-none "  />
        <span class="q-mb-none text-white text-bold q-pa-sm q-pl-xs text-poppins" v-if="customer.name">{{customer.name}} - {{customer.table}}</span>

      </div>
      <div class="col-6 text-right"> 
      	<q-btn flat icon="restaurant" class="text-white"  :label="customer.orders.length"/>
      </div>
      
    </div>  -->

   	<div class="q-pa-sm cart-wrapper">

	    <q-card class="card-dark">
	      <q-card-section style="max-height: 67vh; overflow-y: auto;" class="q-pt-sm text-center">
		    
	      	<p class="q-mb-none text-white text-poppins q-pt-md text-bold  text-f6 text-subtitle2"><q-icon name="check_circle" color="green" size="sm" /> Thank you {{customer.name}}!</p>
	      	<p class="q-mb-none text-white text-poppins q-pt-md text-bold  text-f6 text-subtitle2">Please wait while we prepare your food</p>
	      	<p class="q-mb-none text-white text-poppins q-pt-md text-bold  text-f6 text-subtitle2">PAGBUSOG!</p>
	      	
	      </q-card-section>
 
	      <q-card-action class="block q-pa-sm text-center">
 
		    <!-- <q-btn label="Reset" v-if="cart.length"  @click="resetAction" color="grey" class="text-black q-mt-sm q-mx-sm q-mb-md" /> -->
		    <q-btn label="Order More" type="href" :to="`/menu`" color="amber" size="md" class="text-black text-poppins q-mt-sm q-mx-sm  " />
		    <p class="q-mb-none text-white text-poppins q-pt-md text-bold  text-xs text-subtitle2">Please advise the waiter if you wish to transfer a table. </p>
	      </q-card-action>

	      <q-separator />

	    </q-card>


	    <q-card class="card-dark  block  " v-if="show" style="margin-top: 10px;"> 
		    
	      <q-card-section class="q-pa-sm">
	      	<p class="q-ma-none text-white text-poppins text-bold  text-xs text-subtitle2">  We would like to hear from you regarding your experience </p>
 
		      <q-input color="orange" standout  class="bg-white" square v-model="reviews" dense  clearable>
 
		        <template v-slot:append>
		          <q-btn round dense flat icon="send" color="orange"/>
		        </template>
 
		      </q-input>

	      	 <!-- <q-btn label="Submit" @click="addReview" color="amber" size="sm"  class="text-black text-poppins q-mt-sm" /> -->
	      </q-card-section>
	    </q-card>

   	</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import $ from 'jquery';
import axios from 'axios'


const headers = {
  'Content-Type': 'application/json',
  'x-hasura-admin-secret': 'qSDt1tEv1QEA3QhPvYXM5tRtsp6eC4nHHkEbPecHdN1kJuQb1p2Af4VaVTh078WQ'
}

export default defineComponent({
  name: 'ThankYou',
  data () { 
    return { 
    	customer: { 
	    	name: '',
	    	table: '',
	    	orders: []
    	}, 

    	cart: [],
    	show: false
    }
  },
  methods: { 

  	removeItem(item) {
  		// console.log(item.label)

  		// console.log(this.cart)

  		this.cart = $.grep(this.cart, function(e){ 
		     return e.label != item.label; 
		});
  		this.customer.orders = $.grep(this.customer.orders, function(e){ 
		     return e.label != item.label; 
		});

		// console.log(this.cart);
		// console.log(this.customer);
      localStorage.removeItem("customer");
      localStorage.setItem("customer", JSON.stringify(this.customer)); 

  	},


  	resetAction() {
  		this.customer = {
  			    	name: '',
			    	table: '',
			    	orders: []
  				}
      localStorage.removeItem("customer");
      localStorage.setItem("customer", JSON.stringify(this.customer)); 
       this.$router.push('/')
  	},


  	placeOrderAction() {
  		// this.customer = {
  		// 	    	name: '',
			 //    	table: '',
			 //    	orders: []
  		// 		}

  		// console.log(this.customer)

  	  let orders = this.customer.orders

      axios({
        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
        method: 'post',
        data: {
          query: `
			mutation MyMutation {
			  insert_customers(objects: {name: "${this.customer.name}", status: "Queue", table_no: "${this.customer.table}"}) {
			    returning {
			      id
			    }
			    affected_rows
			  }
			} 
            `
        },
        headers: headers
      }).then((result) => {
        // console.log(result)
        // this.categories = result.data.data.categories
        // this.tab = this.categories[0].slug

        // console.log(result.data.data.insert_customers.returning.id)

        let customer_id = result.data.data.insert_customers.returning[0].id;

        // console.log(customer_id)
        orders.forEach((entry) => {
		    // console.log(entry);

	      axios({
	        url: 'https://sterling-flea-81.hasura.app/v1/graphql',
	        // url: 'https://immense-cobra-16.hasura.app/v1/graphql',
	        method: 'post',
	        data: {
	          query: `
				mutation MyMutation2 {
				  insert_orders(objects: {customer_id: ${customer_id}, item: "${entry.label}", qty: ${entry.count}}) {
				    affected_rows
				  }
				}
	            `
	        },
	        headers: headers
	      }).then((result) => { 
	      	// console.log(result)

	      	localStorage.removeItem("customer"); 
		    this.$router.push('/')
	      });


		});
      });   


      // localStorage.removeItem("customer");
      // localStorage.setItem("customer", JSON.stringify(this.customer)); 
       // this.$router.push('/')
  	}
  },

  mounted() {
    this.customer = JSON.parse(localStorage.getItem("customer"));

    let arr = this.customer.orders
	const combinedItems = (arr = []) => {
	   const res = arr.reduce((acc, obj) => {
	      let found = false;
	      for (let i = 0; i < acc.length; i++) {
	         if (acc[i].label === obj.label) {
	            found = true;
	            acc[i].count++;
	         };
	      }
	      if (!found) {
	         obj.count = 1;
	         acc.push(obj);
	      }
	      return acc;
	   }, []);
	   return res;
	}
	// console.log(combinedItems(arr));
    // if (cnt > 0) {
    //     document.write(current + ' comes --> ' + cnt + ' times');
    // }

    this.cart = combinedItems(arr)


  }
})
</script>
<style>
	.brand-banner {
	    font-weight: bold;
	    text-shadow: 2px 2px #000000;
	}

	.brand-banner span {
	    color: #eda42f;
	}

	.text-shadow {
		text-shadow: 2px 1px #000000;
	}
</style>