 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.main-layout {
    background-size: cover;
    background-image: url('../assets/bg.jpeg');
    background-position: 40%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.inner-layout {
    background-size: 100%;
    /*background-image: url('../assets/pata.jpg'); */
    background-position: 100% 65%;
    background-repeat: no-repeat;
    background-color: #fff;

}
.inner-layout-thankyou {
    background-size: cover;
    background-image: url('../assets/pata.jpg'); 
    background-position: 63% 65%;
    background-repeat: no-repeat;
    background-color: #fff;

}

.bg-yellow-custom {

    background-color: #fff;
}

@media (max-width: 480px) {
  .inner-layout {
    background-size: 210%;
    background-position: 46% 32%;
  }
}

.admin-main-wrapper {
    background-size: cover;
    background-image: url('../assets/bg.jpeg');
    background-position: 40%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}
.text-poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.text-f6 {
    font-size: 15px;
}

.text-menu-label {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
  .text-f6 {
    font-size: 13px;
  }
}

.text-f18 {
    font-size: 28px;
    line-height: 32px;
    max-width: 99%;
    margin-top: 40px;
}


@media (max-width: 480px) {
/*    .card-form {
        position: absolute;
        left: 0;
        right: 0;
        max-width: 95% !important;
        bottom: 150px;
    }

    .card-phone {
        bottom: 100px;
    }*/
    .text-f18 { 
        margin-top: 65px;
        margin-bottom: 65px;
    }

    
}
/*.tagline:before {
    position: absolute;
    content: '';
    width: 200px;
    height: 5px;
    background-color: #ffb700;
    bottom: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px #000;
} 
*/
.tagline {
    position: relative;
}

.text-xs {
    font-size: 10px;    
}
.container {

    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.card-dark { 
    margin: 0px auto; 
    background-color: rgb(16 16 15 / 68%);
    min-width: 100px;
}

.card-dark.card-dark-inner-tab { 
    width: 100%; 
}

.card-dark.card-menu {
width: 400px;
margin: 0px auto;
max-width: 100%;
background-color: rgb(0 0 0 / 4%);
min-width: 100px;
}
form {
    text-align: left;
}

.card-feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-home {
    width: 300px;
}

.card-menu {
    position: relative;
    .card-menu-inner {
        height: 275px;

        @media (max-width: 480px) {
            height: 198px;
        }
    }

    &.card-bundle {
        .card-menu-inner {

            @media (max-width: 480px) {
                height: 225px;
            }
        }
    }

    .card-price {
        position: absolute;
        bottom: 10px;
    }

    .menu-img {
        width: 100%;
        height: 180px;

        @media (max-width: 480px) {
            height: 100px;
        }
    }
    .text-menu-label {
        font-size: 14px;
    }
    &:hover {
        background-color: #efefef;
    };
}