<template>
  <q-layout view="lHh Lpr lFf" > 

    <q-page-container>
      <router-view v-on:updateCart="onChildClick" />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Home', 
    icon: 'home',
    link: ''
  },
  {
    title: 'Menu', 
    icon: 'restaurant',
    link: '/#/menu'
  }, 
  {
    title: 'Contact Us', 
    icon: 'phone',
    link: '/#/menu'
  }, 
];

import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',
 

  data () { 

    return {
      // essentialLinks: linksList,
      // leftDrawerOpen,
      // toggleLeftDrawer () {
      //   leftDrawerOpen.value = !leftDrawerOpen.value
      // },
      cartItem: [],
      cartCount: 0,
    }
  },

  methods: {

      onChildClick (value) {
        console.log(value)
        this.cartItem = value
        this.cartCount = value.orders.length
      }
  }

})
</script>
